[Desktop Entry]
Name=Better battery widget

Type=Service
Icon=battery-charging
X-KDE-ServiceTypes=Plasma/Applet

X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-KDE-PluginInfo-Name=com.itsKhang.betterbatterywidget_p5

X-KDE-Library=plasma_applet_com_itsKhang_betterbatterywidget_p5
X-KDE-PluginInfo-Author=itsKhangQBit
X-KDE-PluginInfo-Email=minhkhangdinh24013@gmail.com
X-KDE-PluginInfo-Version=4.0
X-KDE-PluginInfo-Website=
X-KDE-PluginInfo-Category=System Information
X-KDE-PluginInfo-License=GPL-2.0+
